@media (max-width: 800px) {
    #main {
        margin: 100px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: calc(100vw - 60px);
    }

    #course-list,
    #course-info {
        min-height: 200px;
    }
}

@media (max-width: 1200px) {
    .cube {
        font-size: 12px;
    }
}